@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.background{
    background-color: rgba(0, 0, 0, 0.911);
    position: relative;
    min-height: 100vh;
    padding-bottom: 25rem;
}

.ocultar{
    display: none;
}

.btnAgregar{
    background-color: black;
}

.fontModal{
    font-family: Poppins;
    font-weight: 400;
    font-size: medium;
}

.fontTitle{
    font-family: Poppins;
    font-weight: 400;
}

.fontTitle1{
    font-family: Poppins;
    font-weight: 400;
    font-size: large;
}

.titleFooter{
    font-family:Poppins;
    font-weight: 400;
    font-size: xx-large;
    color: white;
}

.navFont{
    font-family:Poppins;
    font-weight: 400;
    font-size: larger;
}

.fontP{

    font-family: Poppins;
    font-weight: 400;
    font-size: large;
}

.imgMenu{
    width: 5rem;
    height: 5rem;
}

.fondo{
    width: 100%;
    height: 70%;
}

.btnColor{
    background-color: rgb(146, 0, 0) !important;
}

.iconT{
    width: 2rem;
    height: 2rem;
}

.btnColor:hover{
    border: 1px solid white;
}

footer{
   bottom: 0;
   width: 100%;
   position: absolute;
   margin-top: auto;
}

.navProductos{
    width: 35rem;
    margin-top: 28px;
}

.sizeLi{
    width: 33%;
    display: contents;
}

.logoSize{
    width: 3rem;
    height: 3rem;
}

.footer1{
    gap: 2rem;
    width: 100%;
}

.imgBurguers{
    width: 15rem;
    height: 15rem;
}

.imgAnimacion{
    transition: 0.5s;
}

.imgAnimacion:hover{
    transition: 0.5s;
    transform: scale(1.1, 1.1);
}

.imgPedidosModal{
    width: 8rem;
    height: 8rem;
}

.columna{
    width: 33%;
    height: 100%;
}

.observacion{
 width: 90%;
 height: 8rem;
}

.botonCart{
    width: 11rem;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnX{
    background-color: transparent !important;
}

.fontCart{
    font-family: Poppins;
    font-weight: 400;
    font-size: large;
    margin-top: 3px;
    margin-left: 5px;
    text-decoration: none;
    list-style-type: none;
}

.pedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media(min-width:1024px){
    
    .imgBurguers{
        width: 21rem;
        height: 21rem;
    }

    .imgPedidosModal{
        width: 10rem;
        height: 10rem;
    }

}

.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    }

/* Reset top and bottom margins from certain elements */
.login-header,
    .login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: rgb(146, 0, 0);
}

.login-header {
    background: rgb(146, 0, 0);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
background: #fff;
border-color: #bbb;
color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
border-color: #888;
}

.login input[type="submit"] {
background: rgb(146, 0, 0);
border-color: transparent;
color: #fff;
cursor: pointer;
}

.login input[type="submit"]:hover {
background: rgb(146, 0, 0);
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
border-color: rgb(146, 0, 0);
}